body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.nav{
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: darkcyan;
    align-items: center;
    color: white;
}
.name{
    font-size: 2em;
    padding-left: 30px;
}
.menu a{
    color: white;
    text-decoration: none;
    padding: 20px 15px;
    transition: .5s ease-out;
}
.menu a:hover{
    background-color: white;
    color: darkcyan;
}
.social-links{
    padding-right: 30px;
}
.social-links a{
    color: white;
    padding: 0 10px;
}
.social-links a:hover{
    color: gray;
}
.home-container{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.half{
    width: 50%;
}
.home-text h1{
    text-align: center;
    font-size: 2.5em;
    color: #fff;
}
.home-round{
    width: 500px;
    height: 500px;
    background-image: linear-gradient(darkcyan, cyan);
    position: absolute;
    top: 50px;
    border-radius: 50%;
    transform: translate(-100px, -50px);
    
    z-index: -1;
}
.heading{
    color: darkcyan;
    text-align: center;
}
hr{
   background-color: darkcyan;
   height: 2px;
   width: 100px;
   margin-top: -15px;
}
.about-container{
    display: flex;
    align-items: center;
    background-image: url(images/about-bg.png);
    background-position: right
}
.about-text h2{
    text-align: center;
    color: #fff;
    font-weight: 900;
}
.skills-list{
    display: flex;
    flex-wrap: wrap;
}
.skill{
    width: 28%;
    margin: 10px;
    padding: 20px 10px 10px;
    text-align: center;
    box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.3);
    color: darkcyan;
    transition: .5s linear;
}
.skill i{
    font-size: 2em;
}
.skill:hover{
    color: #fff;
    background-color: darkcyan;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.8);
}
.btn{
    text-decoration: none;
    padding: 10px 25px;
    background-color: darkcyan;
    border: 2px solid #fff;
    color: #fff;
    
}
.home-text a{
    text-align: center;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sendbtn a{
    color: #fff;
    text-decoration: none;
    background-color: darkcyan;
    padding: 10px 30px;
    margin-top: 10px;
}
form{
    padding: 20px;
    width: 400px;
    text-align: center;
}
input{
    width: 100%;
    height: 2em;
    margin-bottom: 10px;
    border: 2px solid darkcyan;
    padding: 10px;
    outline:none;
}
textarea{
    width: 100%;
    margin-bottom: 10px;
    border: 2px solid darkcyan;
    padding: 10px;
    outline:none;
}
footer{
    display: grid;
    place-items: center;
    background-color: darkcyan;
    color: #fff;
    padding: 20px;
}
.top-btn{
    position: fixed;
    z-index: 10;
    bottom: 50px;
    right: 50px;
}
.top-btn i{
    color: #fff;
    background-color: darkcyan;
    padding: 10px;
    font-size: 2em;
    border-radius: 100px;
    
}
.namebtn{
    display: grid;
    place-items: center;
}
